:root {
    --main-white: #f0f0f0;
    --main-green: #7CFC00;
    --main-blue: #45567d;
    --main-gray: #303841;
  }

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  header {
    border: 1pt solid black;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  }
  nav {
    display: flex;
    justify-content: flex-end;
    border: 1pt solid blue;
    margin-right: 20px;
  }
  nav ul {
    display: flex;
    padding-right: 20px;

    
  }
  nav ul li {
    margin: 10px;
    list-style: none;
  }
  nav a {
    text-decoration: none;
  }

  .hero-banner {
    background-color: #000;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .hero-banner h2{
    color: var(--main-white);
  }

  /* Applies to About, Work and Contact */
  .page-section{
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-left: 10px ;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  #about {
    border: 1pt solid orange;
    grid-template-areas: 
    "about-me about-me-p about-me-p"
    "about-me about-me-p about-me-p"
  }
  #about-me {
    grid-area: about-me;
    padding-left: 20px;
  }
  #about-me-p {
    grid-area: about-me-p;
  }

  /* Start of Work Section */
  #work {
    border: 1pt solid blue;
    grid-template-areas:
    "work-h2 project-container project-container"
    "work-h2 project-container project-container" ;
  }
  #work-h2{
    grid-area: work-h2;
    padding-left: 20px;
    border-right: 5px solid blue;
  }
  #project-container{
    grid-area: project-container;
    border: 1pt solid greenyellow;
    display: grid;
    grid-gap: 30px;
    grid-template-rows: repeat(4, 250px);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "p1 p1"
    "p1 p1"
    "p2 p3"
    "p4 p5";
  }
  #p1{
    grid-area: p1;
    border: 1pt solid yellow;
    background-image: url(/images/images/patio.png);
  }
  #p2{
    grid-area: p2;
    border: 1pt solid pink;
    background-image: url(/images/images/beds.png);
  }
  #p3{
    grid-area: p3;
    border: 1pt solid red;
    background-image: url(/images/images/couch.png);
  }
  #p4{
    grid-area: p4;
    border: 1pt solid purple;
    background-image: url(/images/images/desks.png);
  }
  #p5{
    grid-area: p5;
    border: 1pt solid rgb(0, 102, 128);
    background-image: url(/images/images/bookcases.png);
  }

  .project {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
  }
  .heading {
    background-color: rgba(0,0,0,0.7);
    padding: 15px;
    height: 25px;
    color: white;
    font-size: 18px;
    border-bottom: 5px solid #ff6200;
  }
  /* End of Work Section */

  /* contact section */
  #contact {
    height: 150px;
    grid-template-areas: 
    "contact-h2 contact-links contact-links"
    "contact-h2 contact-links contact-links";
    margin-bottom: 0px;
  }
  #contact-h2{
    grid-area: contact-h2;
  }
  #contact-links {
    grid-area: contact-links;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 980px;
    flex-wrap: wrap;
  }
  .contact-details {
    font-size: 18px;
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
  }