:root {
    --main-white: #f0f0f0;
    --main-green: #7CFC00;
    --main-blue: #3ad2ff;
    --main-gray: #303841;
    --text-blue: #002b57;
  }

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    background-color: #dcdcdc;
  }
  /* Styling for Header */
  header {
    border: 1pt solid black;
    display: flex;
    justify-content: space-between;
    background-color: var(--main-gray);
    height: 80px;
  }
  .h1-container {
    height: 50px;
    position: relative;
    top: 10px;
    width: 300px;
    background-color: var(--main-blue);
    display: flex;
  }
  h1 {
    position: relative;
    bottom: 20px;
    left: 100px;
    color: var(--main-gray)
  }

  nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }
  nav ul {
    display: flex;
    padding-right: 20px;
  }
  nav ul li {
    margin: 10px;
    list-style: none;
  }
  nav a {
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    color: var(--main-blue);
    font-weight: lighter;
    text-underline-offset: 8px;
  }

  /* Styling for Hero Banner */
  .hero-banner {
    background-image: url(/images/flowers-background.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .hero-banner div {
    background-color: var(--main-blue);
    padding: 5px;
    height:50px;
    position: relative;
    bottom: 15px;
    right: 50px;
  }
  .hero-banner h2{
    color: var(--main-gray);
    position: relative;
    bottom: 15px;
  }

  /* Applies to About, Work and Contact */
  /* .page-section{
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 20% 80%;
    margin-left: 10px ;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 50px;
  } */
  #about-section {
    display: grid;
    grid-template-columns: 20% 80%;

  }
  #about-section h2 {
    border-right: 3px solid var(--text-blue);
    text-align: right;
    font-size: xx-large;
    word-wrap: break-word;
    padding-right: 10px;
    color: var(--text-blue);
  }
  #about-me-p {
    padding: 0px 50px 50px 50px;
    color: var(--text-blue);
  }

  /* Start of Work Section */
  #work {
    border: 1pt solid blue;
    grid-template-areas:
    "work-h2 project-container project-container"
    "work-h2 project-container project-container" ;
  }
  #work-h2{
    grid-area: work-h2;
    padding-left: 20px;
    border-right: 5px solid blue;
  }
  #project-container{
    grid-area: project-container;
    border: 1pt solid greenyellow;
    display: grid;
    grid-gap: 30px;
    grid-template-rows: repeat(4, 250px);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "p1 p1"
    "p1 p1"
    "p2 p3"
    "p4 p5";
  }
  #p1{
    grid-area: p1;
    border: 1pt solid yellow;
    background-image: url(/images/images/patio.png);
  }
  #p2{
    grid-area: p2;
    border: 1pt solid pink;
    background-image: url(/images/images/beds.png);
  }
  #p3{
    grid-area: p3;
    border: 1pt solid red;
    background-image: url(/images/images/couch.png);
  }
  #p4{
    grid-area: p4;
    border: 1pt solid purple;
    background-image: url(/images/images/desks.png);
  }
  #p5{
    grid-area: p5;
    border: 1pt solid rgb(0, 102, 128);
    background-image: url(/images/images/bookcases.png);
  }

  .project {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    padding-bottom: 30px;
  }

  .heading-container{
    background-color: aqua;
  }
  .heading-container h2, h3{
    padding: 5px;
  }




  /* End of Work Section */

  /* contact section */
  #contact {
    height: 150px;
    grid-template-areas: 
    "contact-h2 contact-links contact-links"
    "contact-h2 contact-links contact-links";
    margin-bottom: 0px;
  }
  #contact-h2{
    grid-area: contact-h2;
  }
  #contact-links {
    grid-area: contact-links;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 980px;
    flex-wrap: wrap;
  }
  .contact-details {
    font-size: 18px;
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
  }

  /* Media Queries for project Grid */
  @media screen and(max-width:980px) {

  }
  @media screen and (max-width:768px) {
    #project-container{
        grid-area: project-container;
        border: 1pt solid greenyellow;
        display: grid;
        grid-gap: 30px;
        grid-template-rows: repeat(5, 250px);
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "p1"   
        "p2"
        "p3"
        "p4"
        "p5";
      }
      .project{
        width: 100%;
      }

  }